.photo-grid {
  margin: 92px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: calc(100% - 96px);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .photo-grid {
    margin: 88px auto 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    max-width: calc(100% - 32px);
    margin: 64px auto 0;
  }
}
