.lead__image {
    display: flex;
    margin: 64px auto 0;
    width: 100%;
}

@media (max-width: 1024px) {
    .lead__image {
        margin: 56px auto 0;
    }
}

@media (max-width: 490px) {
    .lead__image {
        margin: 40px auto 0;
    } 
}