.lead__caption {
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 0.15em;
    margin-top: 8px;
    max-width: 158px;
}

@media (max-width: 920px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (max-width: 490px) {
    .lead__caption {
        margin-left: 16px;
    }
}
