.cover__title {
    color: white;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-style: normal;
}

@media (max-width: 580px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media (max-width: 430px) {
    .cover__title {
        margin-bottom: 16px;
        max-width: 250px;
    }
}